<div class="row section  container row top-buffer">
    <div class="col-md-6">
        <h3>Say Hello to Doctor.</h3>
        <p>
       Select Preffered Doctor and time slot to book an in clinic Consultation.
        </p>
        
        <p>
            Experience,best in town
            Our Vets are equipped to handle different health needs with minimum growls.   
            Convenience,always
            No more waiting rooms, cages or uncomfort. You choose the time, Let us meet.                         
            Stress, no more Wouldn’t it be better for your pet to
             be treated in a calm, relaxed place? We thought so too.
                             
        </p>
    </div>
    <div class="col-md-6">
        <div class="">
            <img src="../../assets/Images/Veterinary_1.jpg" width="500" height="281" >
        </div>
    </div>
</div>